 /*
Name: Serena Scaria
Date created: October 16, 2025
Date last edited: October 26, 2025
Version: 1.0
Description: Homework 2 HTML Patient Registration Form
*/

header {
    width: 100%;
    background-color:lavender;
}

h1, h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:lightgrey;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

form {
    flex-grow: 1;
}

main {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    flex-grow: 1;
    width: 100%;
}

.image {
    text-align: left;
}

.td1 {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

th {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: lavender;
    height: 2.0rem;
}

#footer {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    margin-right: 10px;
}

label {
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

input {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

textarea {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

#today {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-right: 5px;
}

p {
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

//error message styling
.error {
    color: Pick a color;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    font-weight: normal;
}

//pass validation message styling
.pword-message {
     text-align: right;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: normal;
     position: relative;
     left: 100px;
     background: transparent;
     padding: 10px;
     border-spacing: 2px;
     border-radius: 20px;
     color: grey;
}

//review button style
#review,
input[type="submit"],
input[type="reset"] {
    display: block;
    margin: 10px auto;
    margin-top: 5px;
    text-align: center;
}

//Output Table style
table.output,
tr.output,
td.output {
    width: 500px;
    background-color: grey;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: grey;
}

//individual cell style
td.output {
    width: 500 px;
    background-color: grey;
    padding: 10px;
    border-spacing: 2px;
}
 
