 /*
Name: Serena Scaria
Date created: November 30, 2025
Date last edited: December 5, 2025
Version: 1.0
Description: Homework 4 CSS Patient Registration Form
*/

header {
    width: 100%;
    background-color:lavender;
    position:sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

h1, h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:lightgrey;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

form {
    flex-grow: 1;
}

main {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    flex-grow: 1;
    width: 100%;
}

.image {
    text-align: left;
}

.td1 {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

th {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: lavender;
    height: 2.0rem;
}

#footer {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    margin-right: 10px;
}

label {
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

input {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

textarea {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

#today {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-right: 5px;
}

p {
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

//error message styling
.error {
    color: Pick a color;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    font-weight: normal;
}

//pass validation message styling
.pword-message {
     text-align: right;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: normal;
     position: relative;
     left: 100px;
     background: transparent;
     padding: 10px;
     border-spacing: 2px;
     border-radius: 20px;
     color: grey;
}

//review button style
#review,
input[type="submit"],
input[type="reset"] {
    display: block;
    margin: 10px auto;
    margin-top: 5px;
    text-align: center;
}

//Output Table style
table.output,
tr.output,
td.output {
    width: 500px;
    background-color: grey;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: grey;
}

//individual cell style
td.output {
    width: 500 px;
    background-color: grey;
    padding: 10px;
    border-spacing: 2px;
}

//alert box container
#alert-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

//alert box content
#alert-content {
     background-color: white;
     border-radius: 10px;
     width: 50px;
     height: 50px;
     margin: auto;
     margin-top: 50px;
     padding: 15px;
     text-align: center;
}

//heading in alert box
#alert-content h4 {
     font-size: 15px;
     text-align: center;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: normal;

 //close button in alert box
 #close alert {
     background-color: grey;
     border-width: 1px;
     border-style: solid;
     color: dark grey:
     border-color: dark grey;
     font-size: 15px;
     font-weight: bold;
     height: 5px;
     width: 5px;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 5px;
     text-align: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 //password message container
.pword-message {
 background-color: grey;
     text-align: right;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: normal;
     position: relative
     left: 5px;
     background: transparent;
     padding: 15px;
     border-spacing: 10px;
     border-radius: 5px;
     color: red;
}

/*iframe*/
.iframe-container {
     position: absolute;
     top: 25%;
     right: 15px;
     width: 25%;
     height: 100%;
     overflow: hidden;
     box-sizing: border-box;

.iframe-container iframe {
     width: 95%;
     height: 20%;
     border: 1px solid black;
}

/*welcome messages*/
#welcome1 {
     margin-top: 20px;
     font-size: 20px;
     text-align: center;
     font-family: "optima", sans-serif;
     font-weight: normal;
}

#welcome2 {
     margin-top: 20px;
     font-size: 20px;
     text-align: center;
     font-family: "optima", sans-serif;
     font-weight: normal;
}




 
  
  



 
 
